body {
	font-family: 'Raleway', sans-serif;
}

.minutes h1 {
	font-size: 24px;
}

.minutes h2 {
	font-size: 20px;
}

.panel-default {
	border-color: #8361BA;
}

.panel-default > .panel-heading {
	color: #efefef;
	background-color: #36008C;
}
