body {
	font-family: 'Raleway', sans-serif;
}

.minutes h1 {
	font-size: 24px;
}

.minutes h2 {
	font-size: 20px;
}

.page-header {
	padding: 0px;
	border: none;
}

.panel-default,
.panel-default > .panel-heading {
	border-color: #36008C;
	border-radius: 0px;
}

.panel-default > .panel-heading {
	color: #efefef;
	background-color: #36008C;
}
